_site/  - scope:
      path: ""
    values:
      layout: "default"
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# tools for debugging
/tools/

# full source code for debugging
full_project_source.txt